# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build
node_modules
dist
dist-ssr
*.local

# Editor and System
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.github

# Python Map Scripts and References
generate_map.py
AVAILABLE_TEXTURES.md
TILES.md
TILES_REFERENCE.md